@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

body {
    background-image: linear-gradient(rgb(255, 0, 221), rgb(112, 11, 126), var(--violet));
    background-size: cover;
    min-height: 100vh;
    color: #fff;
}

/* HEADER */
.header {
    padding: 5rem;
}

/* CONTAINER */
.container {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
}

.container .left,
.container .right
{
    max-width: 70.9rem;
    max-height: 50.6rem;
}

/* RIGHT */
.container .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.container .right .title {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    line-height: 5.5rem;
    margin-bottom: 1.5rem;
}

.container .right .text {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    width: 95%;
    padding-bottom: 2.5rem;
}

.container .right .register {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 40%;
    height: 4.5rem;
    border-radius: 5rem;
    text-decoration: none;
    color: var(--violet);
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    transition: 0.5s;
    box-shadow: 0 1rem 1.5rem -0.3rem rgba(0,0,0,0.5);  
}

.container .right .register:hover {
    background-color: var(--soft-magenta);
    color: #fff;
    font-weight: bold;
    box-shadow: 0 1rem 1.5rem -0.3rem rgba(0,0,0,0.8);  
}


/* LEFT */
.container .left img {
    max-width: 100%;
    max-height: 100%;
}

/* FOOTER */
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-bottom: 5rem;
    padding-right: 5rem;
}

.footer .social :nth-child(2){
    margin-right: 2rem;
    margin-left: 2rem;
}

.footer .social i {
    color: #fff;
    font-size: 3rem;
    transition: 0.3s ease;
}

.footer .social a:hover i{
    color: var(--soft-magenta);
    box-shadow: 0 1rem 1.5rem -0.3rem rgba(0,0,0,0.5); 
}

/* RESPONSIVE */
@media(max-width: 900px) {

    body {
        height: auto;
    }

    .header {
        text-align: center;
        padding: 30px;
    }

    .container {
        height: auto;
        flex-direction: column;
        padding: 0 3rem;
    }

    .container .right {
        padding: 3rem 0;
    }

    .container .right .title {
        font-size: 2.8rem;
        line-height: 4.5rem;
    }

    .container .right .text {
        font-size: 1.6rem;
    }

    .container .right .register {
        width: 50%;
    }

    .footer {
        position: relative;
        margin-top: 1.5rem;
        padding-right: 0;
    }

    .footer .social {
        width: 100%;
        display: flex;
        justify-content: center;
    }   
}